<?xml version="1.0" encoding="utf-8"?>
<!--
  Para más información sobre cómo configurar la aplicación de ASP.NET, visite 
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=mazzastorage;AccountKey=MguqtV1XUIWQW3SZixczCqLSGhwxkRvbUGoCoW+dae/DImqSdP7VpupKt/5wNykUCCKLu996J6S8NyzFaijxbg==" />
  </appSettings>
</configuration>