<?xml version="1.0" encoding="utf-8"?>
<!--
  Para más información sobre cómo configurar la aplicación de ASP.NET, visite 
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=acanabarrostorage;AccountKey=CzHooOEBPe3jiwIdvifHPul1qzBbJ6jz8zwEYQ4ErTV47prLXvShaliI7NnlCHCdNr66gSYu0yDVYfxLDSlKvw==" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>