<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://microsoft-apiapp5f18a6cbd08e4a60b5d735c9bbf275ff.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>microsoft-apiapp5f18a6cbd08e4a60b5d735c9bbf275ff.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Microsoft-ApiApp5f18a6cbd08e4a60b5d735c9bbf275ff</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <AppServiceName>DistriBotAPI</AppServiceName>
    <ResourceGroupName>distribotresourceplan</ResourceGroupName>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Microsoft-ApiApp5f18a6cbd08e4a60b5d735c9bbf275ff</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureAPIApp</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DistriBotAPI.Contexts.Context, DistriBotAPI" MigrationConfiguration="DistriBotAPI.Migrations.Configuration, DistriBotAPI" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Context" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:mazzaserver.database.windows.net,1433;Initial Catalog=DistriBot;Integrated Security=False;Persist Security Info=False;User ID=mazza@mazzaserver;Password=Admin2016;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Context_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:mazzaserver.database.windows.net,1433;&#xD;&#xA;         Database=DistriBot;&#xD;&#xA;         Initial Catalog=DistriBot;&#xD;&#xA;         Persist Security Info=False;&#xD;&#xA;         User ID=mazza@mazzaserver;&#xD;&#xA;         Password=Admin2016;&#xD;&#xA;         Trusted_Connection=False;&#xD;&#xA;         MultipleActiveResultSets=False;Encrypt=True;&#xD;&#xA;         TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Context-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>